<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Câu Hỏi</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Create Câu Hỏi</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/create-cauhoi}" th:object="${cauhoi}"
                              method="post">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên Câu Hỏi</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="tencauhoi" th:field="*{tencauhoi}">
                                    <th:block th:if="${#fields.hasErrors('tencauhoi')}" th:errors="*{tencauhoi}">
                                        tencauhoi Error
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Trang</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="site" th:field="*{site}">
                                    <th:block th:if="${#fields.hasErrors('site')}" th:errors="*{site}">site Error
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Loại</label>
                                <div class="col-sm-12">
                                    <select name="loai" class="form-control" th:field="*{loai}">
                                        <th:block th:each="loai : ${loais}">
                                            <option th:value="${loai.id}" th:text="${loai.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Khảo Sát</label>
                                <div class="col-sm-12">
                                    <select name="survey" class="form-control" th:field="*{survey}">
                                        <th:block th:each="survey : ${surveys}">
                                            <option th:value="${survey.id}" th:text="${survey.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-secondary btn-flat">Làm Mới</button>
                                <button type="submit" class="btn btn-primary btn-flat float-right">Tạo Câu Hỏi
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/layout::logoutmodal"></th:block>

<th:block th:replace="/layout::jsfiles"></th:block>
</body>

</html>
