<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Trả Lời Chi Tiết</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Chỉnh Sửa Trả Lời Chi Tiết</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/edit-traloichitiet}" th:object="${traloichitiet}"
                              method="post">
                            <input th:type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Đáp Án</label>
                                <div class="col-sm-12">
                                    <select name="DapAn" class="form-control">
                                        <th:block th:each="p : ${dapans}">
                                            <option th:value="${p.id}" th:text="${p.id}"
                                                    th:selected="(${p.id} == *{dapAn.id})"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Trả Lời</label>
                                <div class="col-sm-12">
                                    <select name="TraLoi" class="form-control">
                                        <th:block th:each="p : ${tralois}">
                                            <option th:value="${p.id}" th:text="${p.id}"
                                                    th:selected="(${p.id} == *{traLoi.id})"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="name" th:field="*{name}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Lựa Chọn</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="luachon" th:field="*{luachon}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Giá Trị</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="value" th:field="*{value}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chữ Hiển Thị</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="innerText" th:field="*{innerText}"
                                           required>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-secondary btn-flat">LÀm Mới</button>
                                <button type="submit" class="btn btn-primary btn-flat float-right">Chỉnh Sửa Trả Lời Chi
                                    Tiết
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/layout::logoutmodal"></th:block>

<th:block th:replace="/layout::jsfiles"></th:block>
</body>

</html>
