<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Từ Chối Truy Cập</title>
</head>
<body>
Chào <strong th:text="${user}"></strong>, Bạn không có quyền truy cập trang này
<p><a th:href="@{/logout}">Đăng Xuất</a></p>

</body>
</html>