<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Dear <span th:text="${user}"></span> Welcome to User Page</h1>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/}">Home</a> | <a th:href="@{/logout}">Logout</a>
<!--    <a th:href="@{/}">Home</a> |  <a th:href="@{/logout}" onclick="return confirm('sdfsdfsdf')">Logout</a>-->
</div>
</body>
</html>