<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Sản Phẩm</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Chỉnh Sửa Sản Phẩm</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal"
                              th:action="@{/edit-sanpham} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}"
                              th:object="${sanphamUpFile}"
                              method="post" enctype="multipart/form-data">
                            <input th:type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên Sản Phẩm</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="TenSanPham" th:field="*{tenSanPham}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Giá</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="gia" th:field="*{gia}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Số Lượng</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="SoLuong" th:field="*{soLuong}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mô Tả</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="MoTa" th:field="*{moTa}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ảnh</label>
                                <div class="col-sm-12">
                                    <input type="file" name="fileDatas" th:field="*{fileDatas}"/>
                                    <input th:type="hidden" name="Anh" th:field="*{anh}">
                                </div>
                            </div>                                <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-secondary btn-flat">Làm Mới</button>
                                <button type="submit" class="btn btn-primary btn-flat float-right">Chỉnh Sửa Sản Phẩm
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/layout::logoutmodal"></th:block>

<th:block th:replace="/layout::jsfiles"></th:block>
</body>

</html>
