<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Ngày</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tạo Ngày</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/create-ngay}" th:object="${ngay}"
                              method="post">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="name" th:field="*{name}">
                                    <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Lớp</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="class1" th:field="*{class1}">
                                    <th:block th:if="${#fields.hasErrors('class1')}" th:errors="*{class1}">class1
                                        Error
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Giá Trị</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="value" th:field="*{value}">
                                    <th:block th:if="${#fields.hasErrors('value')}" th:errors="*{value}">value Error
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Lựa Chọn</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="luachon" th:field="*{luachon}">
                                    <th:block th:if="${#fields.hasErrors('luachon')}" th:errors="*{luachon}">luachon
                                        Error
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chữ Hiển Thị</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="innerText" th:field="*{innerText}">
                                    <th:block th:if="${#fields.hasErrors('innerText')}" th:errors="*{innerText}">
                                        innerText Error
                                    </th:block>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-secondary btn-flat">Làm Mới</button>
                                <button type="submit" class="btn btn-primary btn-flat float-right">Tạo Ngày
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/layout::logoutmodal"></th:block>

<th:block th:replace="/layout::jsfiles"></th:block>
</body>

</html>
