<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Ngày</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ngày</h6>
                        <div class="col-lg-3 mt-3">
                            <a href="/create-ngay" class="btn btn-block btn-primary btn-flat">Tạo</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="text-center">
                                    <th>Tên</th>
                                    <th>Lớp</th>
                                    <th>Giá Trị</th>
                                    <th>Lựa Chọn</th>
                                    <th>Chữ Hiển Thị</th>
                                    <th>Chỉnh Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>

                                <tbody>
                                <th:block th:each="ngay : ${ngays}">
                                    <tr>
                                        <td><a th:href="@{/view-ngay/__${ngay.id}__ }" th:text="${ngay.name}"></a></td>
                                        <td th:text="${ngay.class1}"></td>
                                        <td th:text="${ngay.value}"></td>
                                        <td th:text="${ngay.luachon}"></td>
                                        <td th:text="${ngay.innerText}"></td>
                                        <td><a th:href="@{/edit-ngay/__${ngay.id}__ }"
                                               class="btn btn-block btn-primary btn-flat">Chỉnh Sửa</a></td>
                                        <td><a th:href="@{/delete-ngay/__${ngay.id}__ }"
                                               class="btn btn-block btn-primary btn-flat"
                                               onclick="return confirm('Bạn có chắc chắn?')">Xóa</a></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/layout::logoutmodal"></th:block>

<th:block th:replace="/layout::jsfiles"></th:block>

</body>

</html>