<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta name="description" content="Cloud 83 - hosting template ">
    <meta name="keywords" content="cloud, hosting, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/ithost/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/ithost/css/bootstrap.min.css"/>
    <!--    <link rel="stylesheet" href="/ithost/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="/ithost/css/flaticon.css"/>
    <link rel="stylesheet" href="/ithost/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/ithost/css/animate.css"/>
    <link rel="stylesheet" href="/ithost/css/magnific-popup.css">
    <link rel="stylesheet" href="/ithost/css/style.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

</th:block>
<body>

<th:block th:fragment="header">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section header-area">
        <a href="/home" class="site-logo" style="color: #fff"><img src="/ithost/img/logo.png" alt=""></a>
        <div class="nav-switch">
            <i class="fab fa-bars"></i>
        </div>
        <div class="nav-warp">
            <div class="user-panel">
                <!--                <a href="#test-form" class="login popup-with-form">Đăng Nhập</a>-->
                <div sec:authorize="isAnonymous()">
                    <a href="#test-form" class="login popup-with-form">Đăng Nhập</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}"><span sec:authentication="name"></span> /
                        <span th:text="'Điểm: '+ ${diem}"></span> /
                        Đăng Xuất</a>
                </div>
            </div>
            <ul class="main-menu">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/about">Giới thiệu</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/survey">Khảo Sát</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/shop">Shop</a></li>
                <li><a href="/blog">Tin tức</a></li>
                <li><a href="/contact">Liên hệ</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/cauhois">CP</a></li>

            </ul>
        </div>
    </header>
    <!-- Header section end -->
</th:block>


<th:block th:fragment="footer">
    <!-- form itself end-->
    <div id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="/ithost/img/logo.png" alt="">
                    </a>
                </div>
                <h3>Đăng Nhập</h3>
                <form th:action="@{/login}" method="post">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="text" name="username" placeholder="Nhập tài khoản" required>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" name="password" placeholder="Mật khẩu" required>
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign in</button>
                        </div>
                    </div>
                </form>
                <p class="doen_have_acc">Không có tài khoản? <a class="dont-hav-acc" href="#test-form2">Đăng Kí</a>
                </p>
            </div>
        </div>
    </div>
    <!-- form itself end -->

    <!-- form itself end-->
    <div id="test-form2" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="/ithost/img/logo.png" alt="">
                    </a>
                </div>
                <h3>Đăng Kí</h3>
                <form id="formSignIn" th:action="@{/create-user2}" method="post">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="text" name="username" placeholder="Nhập tài khoản" required>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" name="password" placeholder="Mật khẩu" required>
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Đăng Kí</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- form itself end -->


    <!-- Footer top section -->
    <section class="footer-top-section text-white spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widget about-widget">
                        <img src="/ithost/img/logo.png" alt="logo">
                        <p>Vai trò của DTP SURVEY không chỉ là một trang web hỗ trợ tích cực cho hoạt động nghiên cứu
                            của
                            các doanh nghiệp mà còn là nơi để mọi người tham gia có thể đóng góp ý kiến của mình, chung
                            tay
                            cùng doanh nghiệp kiến thiết một nền kinh tế vững mạnh, đóng góp vào việc xây dựng một cuộc
                            sống
                            tốt đẹp hơn.</p>
                        <div class="fw-social social">
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h4 class="fw-title">Website khách hàng</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul>
                                    <li><a href="https://www.unilever.com.vn/">Unilever</a></li>
                                    <li><a href="https://vinfast.vn/">Vinfast</a></li>
                                    <li><a href="https://www.starbucks.vn/">Starbucks</a></li>
                                    <li><a href="https://www.mazda.com/">Mazda</a></li>
                                    <li><a href="https://vn.pg.com/">P&G</a></li>
                                    <li><a href="http://bvtwhue.com.vn/">BVTW Huế</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li><a href="https://edumall.vn/">Edumall</a></li>
                                    <li><a href="https://tiki.vn/">Tiki</a></li>
                                    <li><a href="https://www.chevrolet.com.vn/">Chevrolet</a></li>
                                    <li><a href="https://www.ford.com.vn/">Ford</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6">
                    <div class="footer-widget">
                        <h4 class="fw-title">Khảo sát vừa kết thúc</h4>
                        <div class="fw-latest-post-widget">
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="/ithost/img/footer-thumb/1.jpg"></div>
                                <div class="lp-content">
                                    <h6>Khảo sát mazda vừa kết thúc</h6>
                                    <!-- <span><script>document.write(new Date());</script></span> -->
                                </div>
                            </div>
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="/ithost/img/footer-thumb/2.jpg"></div>
                                <div class="lp-content">
                                    <h6>Khảo sát hàng tiêu dùng vừa kết thúc</h6>
                                    <!-- <span><script>document.write(new Date());</script></span> -->
                                </div>
                            </div>
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="/ithost/img/footer-thumb/3.jpg"></div>
                                <div class="lp-content">
                                    <h6>Khảo sát khóa học online vừa kết thúc</h6>
                                    <!-- <span><script>document.write(new Date());</script></span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer top section end -->


    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <ul class="footer-menu">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/about">Giới thiệu</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/survey">Khảo Sát</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/shop">Shop</a></li>
                <li><a href="/blog">Tin tức</a></li>
                <li><a href="/contact">Liên hệ</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/cauhois">CP</a></li>
            </ul>
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
        </div>
    </footer>
    <!-- Footer top section end -->
</th:block>

<th:block th:fragment="script">
    <!--    <script src="/js/signin.js"></script>-->

    <!--====== Javascripts & Jquery ======-->

    <!--    <script src="/ithost/js/jquery-3.2.1.min.js"></script>-->
    <script src="/ithost/js/jquery-1.12.1.min.js"></script>

    <script src="/ithost/js/bootstrap.min.js"></script>
    <script src="/ithost/js/owl.carousel.min.js"></script>
    <script src="/ithost/js/isotope.pkgd.min.js"></script>
    <script src="/ithost/js/circle-progress.min.js"></script>


    <!-- swiper js -->
    <script src="/ithost/js/jquery.counterup.min.js"></script>
    <script src="/ithost/js/scrollIt.js"></script>
    <script src="/ithost/js/jquery.scrollUp.min.js"></script>
    <script src="/ithost/js/wow.min.js"></script>
    <script src="/ithost/js/jquery.slicknav.min.js"></script>
    <script src="/ithost/js/waypoints.min.js"></script>
    <!-- easing js -->
    <script src="/ithost/js/jquery.magnific-popup.js"></script>

    <script src="/ithost/js/main.js"></script>

    <!-- custom js -->
    <script src="/ithost/js/custom.js"></script>


    <!--    <script src="/ithost/js/jquery-1.12.4.min.js"></script>-->
    <!--    <script src="/ithost/js/owl.carousel.min.js"></script>-->
    <!--    <script src="/ithost/js/jquery.counterup.min.js"></script>-->

    <!--    <script src="/ithost/js/jquery.magnific-popup.min.js"></script>-->
    <!--    <script src="/ithost/js/main.js"></script>-->


</th:block>
</body>
</html>