<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <th:block th:replace="/home/layoutUser::head"></th:block>
    <link rel="stylesheet" href="/ithost/css/linearicons.css">
    <link rel="stylesheet" href="/ithost/css/main.css">

</head>

<body>
<th:block th:replace="/home/layoutUser::header"></th:block>
<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="/ithost/img/page-top-bg.jpg">
    <div class="container">
        <h2>Chi Tiết Sản Phẩm</h2>
        <div class="site-breadcrumb">
            <a href="home">Trang chủ</a>
        </div>
    </div>
</section>
<!-- Page Top section end -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">

            <div class="col-lg-6">
                <div class="single-prd-item">
                    <img th:src="@{__${#httpServletRequest.scheme + '://' + #httpServletRequest.serverName + ':' + #httpServletRequest.serverPort}__/} + ${sanpham.anh}"/>
                </div>
            </div>


            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <form id="form" th:action="@{/shop}" method="post">
                        <input th:type="hidden" name="id" th:value="${sanpham.id}">
                        <h3 th:text="${sanpham.tenSanPham}"></h3>
                        <h2 id="gia" th:text="${sanpham.gia}"></h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Thể loại</span> : None</a></li>
                            <li><a href="#"><span>Còn</span> : <span id="con" th:text="${sanpham.soLuong}"></span></a>
                            </li>
                        </ul>
                        <p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
                            looking
                            for
                            something that can make your interior look awesome, and at the same time give you the
                            pleasant
                            warm feeling
                            during the winter.</p>
                        <div class="product_count">
                            <!--                        <label for="qty">Quantity:</label>-->
                            <span>Số lượng:</span>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                   class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                    class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                    class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <button type="submit" class="primary-btn"
                                    onclick="return shoped()">
                                Submit
                            </button>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">Mô Tả</a>
            </li>


        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p th:text="${sanpham.moTa}"></p>
            </div>


        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<th:block th:replace="/home/layoutUser::footer"></th:block>
<th:block th:replace="/home/layoutUser::script"></th:block>

<script type="text/javascript" th:inline="javascript">
    function shoped() {
        if (confirm('Bạn có muốn mua không?')) {
            let gia = parseInt(document.getElementById("gia").innerText);
            let diem = parseInt([[${diem}]]);
            let con = parseInt(document.getElementById("con").innerText);
            let qty = parseInt(document.getElementById("sst").value);
            if (qty > con || con === 0) {
                alert("Sản phẩm còn lại không đủ");
                return false;
            }
            if (diem < gia) {
                alert("Bạn không đủ điểm để mua");
                return false;
            }
        } else return false
    }
</script>
</body>
</html>